#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small bio
                %span.boldColor.small blr
            %img{:src=>"#{@current_user.avatar}",:style=>"width:46px;height:46px;float:left"}
            %a.friend{:href=>"./logout"}
                .text Log out
            .divider
            %a.friend{:href=>"./review"}
                .text Review my memories
            %a.friend{:href=>"./share"}
                .text Share my memories
            .divider
            .savedMemo
                .text Memory saved
            .unsavedMemo
                .text Memory unsaved
        .pageCurlSection
            %a.curl{:href=>"memory"} Relive a new memory

        .mainSectionInternal
            -if @current_user.blog.nil?
                %h2
                    %a{:href => "./user_blog"} please select your tumblr blog
            - else
                %h2 selected blog: #{@current_user.blog.blog_name}
            -if !@question.nil?

                #mainTitleLarge{:contentEditable=>"true"}
                    = @question[:title]
                #mainEditorWindow{:contentEditable=>"true"}
                    = @question[:question]


                .sideArea
                    %input.date{:id=>"memoryDate", :contentEditable=>"true",:type=>"date"}
                    %input.date{:id=>"memoryLocation", :contentEditable=>"true",:placeholder=>"Location"}
                //#mainTitleLarge
                //    - @blogs.each do |b|
                //        %h2 Blog:
                //        #{b.inspect}

            -else
                Please add a question


    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    writePage();
