%script{:src=>"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small bio
                %span.boldColor.small blr
            %img{:src=>"#{@current_user.avatar}",:style=>"width:46px;height:46px;float:left"}
            %a.friend{:href=>"./logout"}
                .text Log out
            .divider
            %a.friend{:href=>"./review"}
                .text Review my memories
            %a.friend{:href=>"./share"}
                .text Share my memories
            .divider
            .savedMemo
                .text Memory saved
            .unsavedMemo
                .text Memory unsaved
        .pageCurlSection
            %a.curl{:href=>"memory"} Relive a new memory

        .mainSectionInternal
            -if @current_user.blog.nil?
                %h2
                    %a{:href => "./user_blog"} please select your tumblr blog
            - else
                %h2 selected blog: #{@current_user.blog.blog_name}
            -if !@question.nil?

                #mainTitleLarge{:contentEditable=>"true"}
                    = @post.nil? ? @question[:title] : @post.first["title"]
                #mainEditorWindow{:contentEditable=>"true"}
                    != @post.nil? ? @question[:question] : @post.first["body"]


                .sideArea
                    - mem_date = @user_question.nil? || @user_question.occured.nil? ? Date.today.to_s : @user_question[:occured]
                    - mem_location = @user_question.nil? || @user_question.location.nil?? "" :  @user_question[:location]
                    - mem_state = @user_question.nil? || @user_question.is_draft ? "Draft" : "Published"
                    %input.date{:id=>"memoryDate", :contentEditable=>"true",:type=>"date", :value => "#{mem_date}" }
                    %input.date{:id=>"memoryLocation", :contentEditable=>"true",:placeholder=>"Location", :value => "#{mem_location}"}
                    = mem_state


            -else
                Please add a question


    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    var newPost = #{@post.nil?};
    var qid = #{@qid};
    writePage();
