%script{:src=>"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
.mainSectionInternal
    -if @current_user.blog.nil?
        %h2
            %a{:href => "./user_blog"} please select your tumblr blog
    - else
        %h2 selected blog: #{@current_user.blog.blog_name}
    -if !@question.nil?

        #mainTitleLarge{:contentEditable=>"true"}
            = @post.nil? ? @question[:title] : @post.first["title"]
        #mainEditorWindow{:contentEditable=>"true"}
            != @post.nil? ? @question[:question] : @post.first["body"]


        .sideArea
            - mem_date = @user_question.nil? || @user_question.occured.nil? ? Date.today.to_s : @user_question[:occured]
            - mem_location = @user_question.nil? || @user_question.location.nil?? "" :  @user_question[:location]
            - mem_state = @user_question.nil? || @post.first['state'] =='private' ? "Draft" : "Published"
            %input.date{:id=>"memoryDate", :contentEditable=>"true",:type=>"date", :value => "#{mem_date}" }
            %input.date{:id=>"memoryLocation", :contentEditable=>"true",:placeholder=>"Location", :value => "#{mem_location}"}
            = mem_state
            .savedMemo
                .text Memory saved
            .unsavedMemo
                .text Memory unsaved

    -else
        Please add a question


%script
    var newPost = #{@post.nil?};
    var qid = #{@qid};
    writePage();
